# Objective
YW
* solve a problem using bayesian statistics

In [2]:
import pandas as pd
df = pd.read_csv("./data/insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
# Solve the following

# P(bmi < 28 | smoker = yes)
bmi_under_28_smoker_yes = (df.loc[df['smoker']=='yes']['bmi']<28).value_counts(normalize=True)
problem_1 = bmi_under_28_smoker_yes.get(True)


# P(age > 25 | children > 1)
age_over_25_children_over_1 = (df.loc[df['children']>1]['age']>25).value_counts(normalize=True)
problem_2 = age_over_25_children_over_1.get(True)

print(problem_1, problem_2)

0.354014598540146 0.8681818181818182